body{

font-family:Poppins;

margin:0;

background:#0a0a0a;

color:white;

}


header{

display:flex;

justify-content:space-between;

padding:20px;

background:black;

position:sticky;

top:0;

}


nav a{

margin:15px;

text-decoration:none;

color:white;

}


.hero{

text-align:center;

padding:120px;

background:linear-gradient(black,transparent),

url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0);

background-size:cover;

}


.btn{

background:gold;

padding:12px 25px;

border-radius:6px;

text-decoration:none;

color:black;

font-weight:bold;

}


.menu{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

padding:40px;

gap:30px;

}


.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

padding:40px;

}


.gallery img{

width:100%;

border-radius:10px;

}


form{

display:flex;

flex-direction:column;

width:300px;

margin:auto;

}


input{

margin:10px;

padding:12px;

border-radius:5px;

border:none;

}


button{

background:gold;

padding:12px;

border:none;

border-radius:6px;

}


footer{

text-align:center;

padding:30px;

background:black;

margin-top:50px;

}
